body {
    font-family: "Helvetica neue", sans-serif;
    color: hsl(0, 0%, 31%);
    font-size: 1rem;
  }
  
  .loading {
    padding: 1rem;
    margin: 5rem auto;
    border-radius: 6px;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 5px hsl(283, 39%, 53%);
  }
  
  .columns {
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    flex-grow: 1;
    padding: 2rem;
  }
  .column:first-child {
    flex-grow: 0;
    width: 30%;
  }
  
  table {
    width: 100%;
    border-spacing: 0;
  }
  table th,
  table td {
    padding: 1rem;
  }
  table thead tr {
    background-color: hsl(0, 0%, 86%);
  }
  table thead th {
    text-align: left;
  }
  table button {
    padding: 0.3rem;
    background-color: hsl(6, 78%, 57%);
    border: 1px solid hsl(6, 78%, 57%);
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
  }
  
  label,
  input {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  label {
    font-weight: 600;
    line-height: 1.3;
  }
  .f {
    margin-left: 470px;
    width: 400px;
  }
  .f2 {
    margin-top: -10px;
  }
  .f3 {
    margin-left: -600px;
  }
  .f21 {
    margin-left: 40px;
    margin-top: -30px;
  }
  .f22 {
    margin-left: 40px;
    margin-top: -30px;
  }
  .f23 {
    margin-left: 40px;
    margin-top: -50px;
  }
  .f31 {
    margin-left: 40px;
    margin-top: -30px;
  }
  .f32 {
    margin-left: 40px;
    margin-top: -30px;
  }
  .f33 {
    margin-left: 40px;
    margin-top: -50px;
  }
  .h33 {
    margin-top: 290px;
    margin-left: -600px;
  }
  .h22 {
    margin-top: 160px;
  }
  .h12 {
    margin-left: 420px;
  }
  .p12 {
    margin-left: 430px;
  }
  .h11 {
    margin-left: 470px;
    width: 200px;
  }
  .f11 {
    margin-left: 40px;
    margin-top: -30px;
  }
  .f12 {
    margin-left: 40px;
    margin-top: -30px;
  }
  .f13 {
    margin-left: 40px;
    margin-top: -50px;
  }
  #add {
    font-weight: 600;
    line-height: 1.3;
    margin-left: 40px;
    margin-top: -30px;
  }
  .add11 {
    margin-top: 40px;
    margin-left: 80px;
  }
  input {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  form button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: hsl(141, 73%, 42%);
    border: 1px solid hsl(141, 73%, 42%);
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
  }
  